@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

@theme {
  /* Game UI */
  --color-board-bg: #2b0040;
  --color-primary: #5a1e76;
  --color-player-x: #48d2fe;
  --color-player-o: #e2be00;
  --color-player-draw: #bcdbf9;
  --color-cells: #43115b;

  /* Typography */
  --color-title: #441752;
  --color-body: #000000;
  --color-subtext: #6d5c85;

  /* Buttons */
  --color-button-primary: #5e4b75;
  --color-button-hover: #441752;
  --col0r-button-disabled: #6d5c85;

  /* Border */
  --color-border-primary: #e3c6e9;

  /* font family */
  --font-family-primary: "Patrick Hand", cursive;
}

body {
  font-family: var(--font-family-primary);
}
