@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

@theme {
  /* bg colors */
  --color-primary: #000000;
  --color-secondary: #ffffff;
  --color-overlay: #000000;

  /* text colors */
  --color-text-primary: #000000;
  --color-text-secondary: #ffffff;

  /* button colors */
  --color-button-primary: #000000;
  --color-button-hover: #000000;
  --color-button-disabled: #000000;

  /* border colors */
  --color-border-primary: #000000;
  --color-border-secondary: #ffffff;

  /* font family */
  --font-family-primary: "Patrick Hand", cursive;
}

body {
  font-family: var(--font-family-primary);
}
